<html>
   <head>
       <script src="menu.js"></script>
       <script src="item.js"></script>
       <script src="order.js"></script>
       <script src="interface.js"></script>
   </head>
 
   <body>
       <h1> Order confirmed</h1>
       <h2> You should receive a confirmation text shortly </h2>
   </body>
</html>