<html>
   <head>
       <script src="menu.js"></script>
       <script src="item.js"></script>
       <script src="order.js"></script>
       <script src="interface.js"></script>
       <link rel="stylesheet" type="text/css" href="/style.css"/>
   </head>
 
   <body>
    <div id="allcontent">
       <h1> Order confirmed</h1>
       <h4> You should receive a confirmation text shortly </h4>
       <a href ="/"><button type="button">Back</button></a>
    </div>
   </body>
</html>