<html>
   <head>
        <script src="menu.js"></script>
        <script src="item.js"></script>
        <script src="order.js"></script>
        <script src="interface.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   </head>
 
   <body onload="display()">
       <h1> Takeaway Challenge</h1>
   </body>
</html>